/* TODO: Confirm scrollbar styles are still applied */
::-webkit-scrollbar{
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(223, 148, 20, 0.5);
}